.DS_STORE

# Private Keys
*.pem

# Xcode legacy
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser

# Xcode
xcuserdata/
WeatherApplication.xcworkspace/
DerivedData/

# build products
build/
*.[oa]


# Cocoapods
Pods/
Podfile.lock
